#
# Copyright (c) 2022 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Buttons Example"

endmenu

module = BUTTONS
module-str = BUTTONS
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
