#
# Copyright (c) 2022 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Buttons Example"

config RPMSG_LITE_RESOURCE_TABLE
	bool "Co-processor resource table"
	help
	  Add the resource table in the generated binary. This table is
	  compatible with linux remote proc framework and RPMsg-Lite library.

endmenu

module = BUTTONS
module-str = BUTTONS
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
