#
# Copyright (c) 2022 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menu "Low Power Audio Example"

config RPMSG_LITE_RESOURCE_TABLE
	bool "coprocessor resource table"
	help
	  Add the resource table in the generated binary. This table is
	  compatible with linux remote proc framework and RPMsg-Lite library.

config RPMSG_LITE_IPC_DEV_NAME
	string "RPMsg-Lite IPC device name"
	default "MAILBOX_0"

config RPMSG_LITE_APP_STACKSIZE
	int "Application thread stack size"
	default 4096

endmenu

module = MAIN
module-str = MAIN
source "subsys/logging/Kconfig.template.log_config"

source "Kconfig.zephyr"
