/*
 * Copyright (c) 2022, Laird Connectivity
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		/*
		 * shared memory reserved for the inter-processor communication
		 */
		zephyr,ipc_shm = &vdevbuffer;
		zephyr,ipc = &mailbox0;
	};

	vdevbuffer: memory1@55400000 {
		compatible = "mmio-sram";
		reg = <0x55400000 0x100000>;
	};
};

&mailbox0 {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

&i2c3 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&gpt2 {
	status = "okay";
};

&uart4 {
	clock-rootmux = <1>;
};

&cpu0 {
	cpu-power-states = <&run &wait &stop>;
};
