/*
 * Copyright (c) 2022, Laird Connectivity
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		/*
		 * shared memory reserved for the inter-processor communication
		 */
		zephyr,ipc_shm = &vdevbuffer;
		zephyr,ipc = &mub;
	};

	vdevbuffer: memory1@55400000 {
		compatible = "mmio-sram";
		reg = <0x55400000 0x100000>;
	};
};

&mub {
	status ="okay";
};

&gpio3 {
	status ="okay";
};
